<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="../css/style.css" rel="stylesheet">
    <title>CEDUP - Centro de Educação Profissional Dario Geraldo Salles</title>
</head>
<body>
  <header>
    <nav class="navbar p-2" style="background-color: #0a5154;">
      <div class="w-100 p-3 d-flex justify-content-between">
       <div class="d-flex">
        <img class="d-flex align-items-center me-4" src="../img/logo1.png" alt="logo-cedup" style="width: 90; height: 90px">
        <a class="navbar-brand">
          <span class="fs-1 fw-bolder" style="font-weight: 600; color: #d3d3d3;"> CEDUP </span> 
          <br> 
          <span style="color: #d3d3d3;">Centro de Educação Profissional Dario Geraldo Salles</span>
        </a>
       </div>
      <form class="input-group mb-3 w-25 mt-4 h-25">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Recipient's username" aria-describedby="button-addon2" style="background-color: #d3d3d3;">
          <button class="btn btn-outline-secondary " type="button" id="button-addon2"><img src="../img/lupa.png" alt="" width="25px" height="25px"></button>
        </div>
      </form>
      </div>
     </nav>
  </header>
      <main>
        <div class="bd-content d-flex justify-content-between">
          <div class="btn-aside w-25 p-2 mt-lg-4">
            <ul class="nav flex-column">
              <li class="nav-item m-2 w-75" style="border-top: 2px solid ; background-color: #d3d3d3">
                <a class="nav-link active" id="hover-btn" aria-current="page" href="home.html">Home</a>
              </li>
              <li class="nav-item m-2 w-75" style="border-top: 2px solid #0a5154; background-color: #d3d3d3;">
                <a class="nav-link" id="hover-btn" href="horario-aula.html">Horário Aulas</a>
              </li>
              <li class="nav-item m-2 w-75" style="border-top: 2px solid #0a5154; background-color: #d3d3d3">
                <a class="nav-link" id="hover-btn" href="#">Extenções CEDUP</a>
              </li>
              <li class="nav-item m-2 w-75" style="background-color: #d3d3d3; border-top: 2px solid #0a5154;">
                <a class="nav-link" id="hover-btn" href="comunicados.html">Comunicados</a>
              </li>
              <li class="nav-item m-2 dropdown w-75" style="border-top: 2px solid #0a5154; background-color: #d3d3d3">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="hover-btn" href="#" role="button" aria-expanded="false">Instituição</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Eventos</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">APP</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">PPP</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">CDE</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Professores</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Secretaria</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">CEDUP</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Contato</a></li>
                </ul>
                </li>  
              <li class="nav-item m-2 dropdown w-75" style="border-top: 2px solid #0a5154; background-color: #d3d3d3">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="hover-btn" href="#" role="button" aria-expanded="false">Cursos</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Cursos Técnicos</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Novos Caminhos</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">NEM</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">EMIEP</a></li>
              </ul>
              </li>  
              <li class="nav-item m-2 dropdown w-75" style="background-color: #d3d3d3; border-top: 2px solid #0a5154;">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="hover-btn" href="#" role="button" aria-expanded="false">Alunos</a>
                  <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Estágio</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Biblioteca</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Enem</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Vagas de Emprego</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Cardápio Escolar</a></li>
                </ul>
              </li>        
          </ul>

          </div>
          <div class="content mt-5 w-75" >

            <h1 style="text-align: center; font-weight: 200; color: #0a5154;">TÉCNICO EM ELETROTÉCNICA</h1>

        <h2 style="text-align: left; margin-top: 40px; font-weight: 200; color: #0a5154; margin-right: 160px;">OBJETIVO DO CURSO</h2>

        <p style="text-align: left; margin-right: 160px; text-align: justify; font-size: 20px; margin-top: 20px;">O Curso Técnico em Eletrotécnica tem por objetivo proporcionar ao aluno formação técnica e humanística, em condições de aplicar os conhecimentos científicos e tecnológicos adquiridos, tornando-o capaz de desenvolver suas habilidades em benefício da sociedade, através da contextualização de conhecimentos.</p>

            <h2 style="text-align: left; margin-top: 40px; font-weight: 200; color: #0a5154; margin-right: 160px;">REQUISITOS DE ACESSO</h2>

            <p style="text-align: left; margin-right: 160px; text-align: justify; font-size: 20px; margin-top: 20px;">Ser egresso do Ensino Médio e/ou estar cursando a partir do terceiro ano.</p>

        <h2 style="text-align: left; margin-top: 40px; font-weight: 200; color: #0a5154; margin-right: 160px;">PERFIL PROFISSIONAL DE CONCLUSÃO</h2>

        <p style="text-align: left; margin-right: 160px; text-align: justify; font-size: 20px; margin-top: 20px;">O Técnico em Eletrotécnica pode atuar em empresas de serviço público de geração, transmissão e distribuição de energia, bem como em indústrias, fábricas de máquinas, equipamentos e componentes elétricos, comércio destinado ao setor elétrico, assim</p>

        <p style="text-align: left; margin-right: 160px; text-align: justify; font-size: 20px; margin-top: 20px;">como laboratórios de controle de qualidade, de manutenção e pesquisa, ou como profissional liberal, exercendo diversas funções.</p>

        <p style="text-align: left; margin-right: 160px; text-align: justify; font-size: 20px; margin-top: 20px;">Estágio Curricular Obrigatório e Supervisionado</p>

        <p style="text-align: left; margin-right: 160px; text-align: justify; font-size: 20px; margin-top: 20px;">Carga Horária = 400 horas</p>

        <p style="text-align: left; margin-right: 160px; text-align: justify; font-size: 20px; margin-top: 20px;">O aluno deverá fazer a transposição dos conteúdos aprendidos, em práticas específicas, em técnicas e tecnologias profissionais, tendo como objetivo à incorporação de hábitos de trabalho através do desempenho de atividades, supervisionado pela instituição de ensino e pela instituição conveniada, mediante regras estipuladas pela Lei 11.788 de 25 de setembro de 2008.</p>

        <p style="text-align: left; margin-right: 160px; text-align: justify; font-size: 20px; margin-top: 20px;">Além da prática de estágio, o aluno deverá ao final do mesmo, apresentar um relatório das atividades desenvolvidas durante este período, obedecendo às orientações da instituição de ensino.</p>

        <h2 style="text-align: left; margin-top: 40px; font-weight: 200; color: #0a5154; margin-right: 160px;">ORGANIZAÇÃO CURRICULAR</h2>

        <p style="text-align: left; margin-right: 160px; text-align: justify; font-size: 20px; margin-top: 20px;">O Curso Técnico em Eletrotécnica, eixo tecnológico de Controle e Processos Industriais observa as determinações legais presentes nas Diretrizes Curriculares Nacionais para a Educação Profissional de Nível Técnico, nos Referenciais Curriculares Nacionais da Educação Profissional, no Decreto 5154/2004, no Catálogo Nacional de Cursos Técnicos, bem como nas diretrizes definidas no projeto político pedagógico.</p>

        <h2 style="text-align: left; margin-top: 40px; font-weight: 200; color: #0a5154;">MATRIZ CURRICULAR DO CURSO TÉCNICO EM ELETROTÉCNICA</h2>


        <iframe style="width: 60%; height: 500px; margin-top: 40px; border: 2px solid #0a5154; margin-left: 100px;" jsname="L5Fo6c" jscontroller="usmiIb" jsaction="rcuQ6b:WYd;" class="YMEQtf DnR2hf L6cTce-purZT L6cTce-pSzOP KfXz0b" sandbox="allow-scripts allow-popups allow-forms allow-same-origin allow-popups-to-escape-sandbox allow-downloads allow-modals" frameborder="0" aria-label="Spreadsheet, Eletrotécnica" style="height: 793px" allowfullscreen="" src="https://docs.google.com/spreadsheets/d/1OJ6xrN2A0YXRWo11AoICcI-sZe6q8aRLQkmFuOrdvmU/htmlembed"></iframe>


        </div>
    </div>
  </main>
  <footer>
      <div class="card-body p-3 d-flex justify-content-between mt-4" style="background-color:#0a5154;">
       <div> 
          <p class="card-text fs-5" style="color: #d3d3d3;">R. Monsenhor Gercino, 2071</p>
          <p class="card-text fs-6" style="color: #d3d3d3;">Itaum, Joinville-SC, 89210-160</p>
          <p class="card-tex fs-6" style="color: #d3d3d3;">(47) 3481-2135</p>
        </div>
        <div class="d-flex justify-content-end w-25 align-items-center">
          <a href="https://pt-br.facebook.com/cedupjoinville/" class="btn"><img src="../img/facebook.png" style="width: 40; height: 40px"></a>
          <a href="https://www.instagram.com/cedupjoinvilleoficial/" class="btn"><img src="../img/instagram.png" style="width: 40; height: 40px"></a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>