<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="../css/style.css" rel="stylesheet">
    <title>CEDUP - Centro de Educação Profissional Dario Geraldo Salles</title>
</head>
<body>
  <header>
    <nav class="navbar p-2" style="background-color: #0a5154;">
      <div class="w-100 p-3 d-flex justify-content-between">
       <div class="d-flex">
        <img class="d-flex align-items-center me-4" src="../img/logo1.png" alt="logo-cedup" style="width: 90; height: 90px">
        <a class="navbar-brand">
          <span class="fs-1 fw-bolder" style="font-weight: 600; color: #d3d3d3;"> CEDUP </span> 
          <br> 
          <span style="color: #d3d3d3;">Centro de Educação Profissional Dario Geraldo Salles</span>
        </a>
       </div>
      <form class="input-group mb-3 w-25 mt-4 h-25">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Recipient's username" aria-describedby="button-addon2" style="background-color: #d3d3d3;">
          <button class="btn btn-outline-secondary " type="button" id="button-addon2"><img src="../img/lupa.png" alt="" width="25px" height="25px"></button>
        </div>
      </form>
      </div>
    </nav>
  </header> 
      <main>
        <div class="bd-content d-flex justify-content-between">
          <div class="btn-aside w-25 p-2 mt-lg-5" style="font-size: 1.1rem;">
              <ul class="nav flex-column">
                <li class="nav-item m-2 w-75" style="border-top: 2px solid ; background-color: #d3d3d3">
                  <a class="nav-link active" id="hover-btn" aria-current="page" href="home.html">Home</a>
                </li>
                <li class="nav-item m-2 w-75" style="border-top: 2px solid #0a5154; background-color: #d3d3d3;">
                  <a class="nav-link" id="hover-btn" href="horario-aula.html">Horário Aulas</a>
                </li>
                <li class="nav-item m-2 w-75" style="border-top: 2px solid #0a5154; background-color: #d3d3d3">
                  <a class="nav-link" id="hover-btn" href="#">Extenções CEDUP</a>
                </li>
                <li class="nav-item m-2 w-75" style="background-color: #d3d3d3; border-top: 2px solid #0a5154;">
                  <a class="nav-link" id="hover-btn" href="comunicados.html">Comunicados</a>
                </li>
                <li class="nav-item m-2 dropdown w-75" style="border-top: 2px solid #0a5154; background-color: #d3d3d3">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="hover-btn" href="#" role="button" aria-expanded="false">Instituição</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Eventos</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">APP</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">PPP</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">CDE</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Professores</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Secretaria</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">CEDUP</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Contato</a></li>
                  </ul>
                  </li>  
                <li class="nav-item m-2 dropdown w-75" style="border-top: 2px solid #0a5154; background-color: #d3d3d3">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="hover-btn" href="#" role="button" aria-expanded="false">Cursos</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Cursos Técnicos</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Novos Caminhos</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">NEM</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">EMIEP</a></li>
                </ul>
                </li>  
                <li class="nav-item m-2 dropdown w-75" style="background-color: #d3d3d3; border-top: 2px solid #0a5154;">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="hover-btn" href="#" role="button" aria-expanded="false">Alunos</a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Estágio</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Biblioteca</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Enem</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Vagas de Emprego</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Cardápio Escolar</a></li>
                  </ul>
                </li>        
            </ul>
          </div>
            <div class="content mt-5 w-75 me-lg-5" style="text-align: justify;">
              <h1 class="mb-5" style="text-align: left; color:#0a5154; font-weight: 200;">Técnico em Eletroeletrônica</h1>
            
            <h3 class="mb-3" style="text-align: left; color:#0a5154; font-weight: 200;">Identificação do Curso</h3>
                <p>Joinville, a maior cidade do estado de Santa Catarina e a terceira maior do Sul do Brasil, com aproximadamente 1380 indústrias é detentora de uma economia diversificada, sobretudo nos setores secundário e terciário da economia. Se junta a este reconhecido cenário, a vinda de novas plantas industriais, incluindo a indústria automotiva que deve atrair mais empresas ligadas à cadeia produtiva do setor econômico tais como: montadoras automotivas, comercialização e equipamentos eletroeletrônicos, retificadores de motores e sistema de transmissão. </br>
                    O crescente aquecimento no setor econômico em Santa Catarina e mais precisamente na região de Joinville e outras cidades que compõem o norte do Estado é um dos fatores que indicam a necessidade contínua de formação profissional técnica na área da indústria especificamente em Eletroeletrônica. </br>
                    O CEDUP Dario Geraldo Salles tem a preocupação em qualificar os alunos para atuarem neste vasto mercado de trabalho, para atender às necessidades das empresas, melhorando assim sua expansão no mercado em constante crescimento no setor de automação industrial e na área de componentes elétricos e eletrônicos. </br>
                    Oferecer cursos técnicos e profissionalizantes adequados a este mercado é o grande desafio da Instituição que tem por missão: “Formar profissionais comprometidos com a melhoria da qualidade de vida, sustentabilidade e o progresso das organizações”.</p>

            <h3 class="mb-3" style="text-align: left; color:#0a5154; font-weight: 200;">Campo De Atuação</h3>
                <p>A atividade profissional do técnico em Eletroeletrônica acontece em empresa e em ampla gama de setores econômicos, desde o comércio de produtos até a instalação e manutenção de equipamentos de toda natureza, tornando-se um profissional capacitado para realizar atividades de eletricista, desenvolver outras atividades que envolvem toda a parte de eletrônica, como placas, montagem e funcionamentos de circuitos eletrônicos, sistema de transmissão, além de conhecer a tecnologia de microcontroladores, poderá também construir seu próprio negócio.</p>

            <h3 class="mb-3" style="text-align: left; color:#0a5154; font-weight: 200;">Justificativa e Objetivos </h3>
                <p>O Curso Técnico em Eletroeletrônica tem por objetivo formar profissionais capazes de planejar e executar a instalação e manutenção de equipamentos, fazer instalações eletroeletrônicas industriais, observando normas técnicas e de segurança. Propor o uso eficiente da energia elétrica. Elaborar, desenvolver e executar projetos de instalações elétricas em edificações em baixa tensão.</p>

            <h3 class="mb-3" style="text-align: left; color:#0a5154; font-weight: 200;">Objetivos específicos</h3>
                <p>Observados os princípios norteadores estabelecidos pelas Diretrizes Curriculares Nacionais para a Educação Profissional de nível Técnico, o presente Curso tem por objetivos o desenvolvimento de competências e habilidades que permitam ao aluno desempenhar as suas atribuições, com ética e responsabilidade social.</br>
                    - Desenvolver no aluno, habilidades técnicas através da contextualização de conhecimentos voltados para a melhoria de vida do cidadão;</br>
                    - Promover a realização pessoal do cidadão mediante o sentimento de segurança da responsabilidade técnica das suas habilidades, usando o desenvolvimento de atitudes, conforme normas;</br>
                    - Capacitar o aluno a interceptar e elaborar projetos elétricos prediais e industriais;</br>
                    - Desenvolver projetos de média complexidade envolvendo sistemas de microcontroladores;</br>
                    - Identificar os diferentes tipos de motores elétricos e transformadores e suas aplicações;</br>
                    - Especificar, para os setores de compras e de vendas, os materiais, componentes e equipamentos eletroeletrônicos.</br></p>


            <h3 class="mb-3" style="text-align: left; color:#0a5154; font-weight: 200;">Requisitos de Acesso</h3>
                 <p>Ser egresso do Ensino Médio e ou estar cursando a 3ª série do Ensino Médio.</p>

            <h3 class="mb-3" style="text-align: left; color:#0a5154; font-weight: 200;">Perfil Profissional de Conclusão</h3>
                <p>Ao término do Curso, o Técnico em Eletroeletrônica deverá ser capaz de:</br>
                    - Executar serviços de instalação e manutenção em eletroeletrônica e automação industrial;</br>
                    - Identificar necessidades de inovações tecnológicas e propor soluções para a otimização de processos eletroeletrônicos;</br>
                    - Oferecer alternativas de soluções de hardware e programação, principalmente para CLP’s e microcontroladores e microprocessadores industriais;</br>
                    - Identificar e selecionar os diferentes tipos de motores elétricos e transformadores e suas aplicações; </br>
                    - Interpretar, elaborar e desenvolver projetos elétricos prediais e industriais em edificações em baixa tensão.</br></p>

            <h3 class="mb-3" style="text-align: left; color:#0a5154; font-weight: 200;">Organização Curricular</h3>
                <p>O Curso Técnico em Eletroeletrônica, Eixo Tecnológico de Controle e Processos Industriais observa as determinações legais presentes nas Diretrizes Curriculares Nacionais para a Educação Profissional de Nível Técnico, nos referenciais curriculares nacionais da Educação Profissional, no Decreto 5154/2004, no Catálogo Nacional de Cursos Técnicos, bem como nas diretrizes definidas no Projeto Político Pedagógico.</p>

            <h3 class="mb-4" style="color:#0a5154; text-align: left; font-weight: 200;">Matriz Curricular Do Curso Técnico em Eletroeletrônica</h3>
            <iframe src="https://docs.google.com/spreadsheets/d/1naPeevzGZtA1a80gOAnVV_DFgfrlI5imj3XZje802FI/view#gid=0" width="640" height="480" allow="autoplay"></iframe>
            
            
            </div>
          </div>
        </div>
      </main>
      <footer>
          <div class="card-body p-3 d-flex justify-content-between mt-4" style="background-color:#0a5154;">
           <div> 
              <p class="card-text fs-5" style="color: #d3d3d3;">R. Monsenhor Gercino, 2071</p>
              <p class="card-text fs-6" style="color: #d3d3d3;">Itaum, Joinville-SC, 89210-160</p>
              <p class="card-tex fs-6" style="color: #d3d3d3;">(47) 3481-2135</p>
            </div>
            <div class="d-flex justify-content-end w-25 align-items-center">
              <a href="https://pt-br.facebook.com/cedupjoinville/" class="btn"><img src="../img/facebook.png" style="width: 40; height: 40px"></a>
              <a href="https://www.instagram.com/cedupjoinvilleoficial/" class="btn"><img src="../img/instagram.png" style="width: 40; height: 40px"></a>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>