<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="../css/style.css" rel="stylesheet">
    <title>CEDUP - Centro de Educação Profissional Dario Geraldo Salles</title>
</head>
<body>
  <header>
    <nav class="navbar p-2" style="background-color: #0a5154;">
      <div class="w-100 p-3 d-flex justify-content-between">
       <div class="d-flex">
        <img class="d-flex align-items-center me-4" src="../img/logo1.png" alt="logo-cedup" style="width: 90; height: 90px">
        <a class="navbar-brand">
          <span class="fs-1 fw-bolder" style="font-weight: 600; color: #d3d3d3;"> CEDUP </span> 
          <br> 
          <span style="color: #d3d3d3;">Centro de Educação Profissional Dario Geraldo Salles</span>
        </a>
       </div>
      <form class="input-group mb-3 w-25 mt-4 h-25">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Recipient's username" aria-describedby="button-addon2" style="background-color: #d3d3d3;">
          <button class="btn btn-outline-secondary " type="button" id="button-addon2"><img src="../img/lupa.png" alt="" width="25px" height="25px"></button>
        </div>
      </form>
      </div>
    </nav>
  </header> 
      <main>
        <div class="bd-content d-flex justify-content-between">
          <div class="btn-aside w-25 p-2 mt-lg-5" style="font-size: 1.1rem;">
              <ul class="nav flex-column">
                <li class="nav-item m-2 w-75" style="border-top: 2px solid ; background-color: #d3d3d3">
                  <a class="nav-link active" id="hover-btn" aria-current="page" href="home.html">Home</a>
                </li>
                <li class="nav-item m-2 w-75" style="border-top: 2px solid #0a5154; background-color: #d3d3d3;">
                  <a class="nav-link" id="hover-btn" href="horario-aula.html">Horário Aulas</a>
                </li>
                <li class="nav-item m-2 w-75" style="border-top: 2px solid #0a5154; background-color: #d3d3d3">
                  <a class="nav-link" id="hover-btn" href="#">Extenções CEDUP</a>
                </li>
                <li class="nav-item m-2 w-75" style="background-color: #d3d3d3; border-top: 2px solid #0a5154;">
                  <a class="nav-link" id="hover-btn" href="comunicados.html">Comunicados</a>
                </li>
                <li class="nav-item m-2 dropdown w-75" style="border-top: 2px solid #0a5154; background-color: #d3d3d3">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="hover-btn" href="#" role="button" aria-expanded="false">Instituição</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Eventos</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">APP</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">PPP</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">CDE</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Professores</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Secretaria</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">CEDUP</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Contato</a></li>
                  </ul>
                  </li>  
                <li class="nav-item m-2 dropdown w-75" style="border-top: 2px solid #0a5154; background-color: #d3d3d3">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="hover-btn" href="#" role="button" aria-expanded="false">Cursos</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Cursos Técnicos</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Novos Caminhos</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">NEM</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">EMIEP</a></li>
                </ul>
                </li>  
                <li class="nav-item m-2 dropdown w-75" style="background-color: #d3d3d3; border-top: 2px solid #0a5154;">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="hover-btn" href="#" role="button" aria-expanded="false">Alunos</a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Estágio</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Biblioteca</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Enem</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Vagas de Emprego</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Cardápio Escolar</a></li>
                  </ul>
                </li>        
            </ul>
          </div>
          <div class="content mt-5 w-75" >

            <h1 class="mb-4" style="color:#0a5154; text-align: left; font-weight: 200;">Estágios</h1>
            <p class="mb-4" style="text-align: left;">O estágio tem como objetivo permitir que o estudante entre em contato com o mercado de trabalho, permitindo que este possa colocar em prática os ensinamentos escolares, bem como vivenciar a realidade de uma Instituição, seja pública ou privada, visando à formação pessoal e o crescimento profissional. AS OPORTUNIDADES DE EMPREGO SÃO DIVULGADAS NESTE SITE - MENU ALUNO/VAGAS DE EMPREGO.</p>
            
            <h1 class="mb-4" style="color:#0a5154; text-align: left; font-weight: 200;"> Fundamentação Legal</h1>
            <p class="mb-4" style="text-align: left;">
              a) Projeto Político Pedagógico do Curso e da Escola; </br>

              b) Resolução CEE Nº 130/03 – Regulamenta a realização de estágios nas Instituições de Ensino Médio, Profissional e Superior no Estado de Santa Catarina; </br>
              
              c) Resolução CNE/CEB No 01/04 – Estabelece Diretrizes Nacionais para a Organização e a realização de estágio de alunos da Educação Profissional e do Ensino Médio, inclusive nas modalidades de Educação Especial e de Educação de Jovens e Adultos; e ratifica o prazo limite de cinco anos (5) a partir da primeira matrícula ou ingresso pelo aluno na Instituição de Ensino. </br>
              
              d) Lei Federal Nº 11.788, de 25 de setembro de 2008 – Dispõe sobre estágios de estudantes; Leia Cartilha sobre a Lei de Estágio (arquivo PDF); </br>
              
              e) Ação Normativa Nº 7, de 30 de outubro de 2008, que disciplina o estágio no âmbito nacional; </br>
              
              f) Resolução 167 de 22 de outubro de 2013 do Conselho Estadual de Educação (substitui a Resolução No 073 de 7 de dezembro de 2010 do Conselho Estadual de Educação). </br>
              
              g) Portaria 124 de 21/01/2020 – Regulamenta a prática de Estágio para estudantes da Rede Estadual de Ensino e suas modalidades (disponível em <a href= "https://www.sed.sc.gov.br/pais-alunos-e-comunidade/30484-estagio" style="color:#0a5154;"> https://www.sed.sc.gov.br/pais-alunos-e-comunidade/30484-estagio</a>)</p>


              <h1 class="mb-4" style="color:#0a5154; text-align: left; font-weight: 200;">Estágio Não Obrigatório</h1>
              <p class="mb-4" style="text-align: left;">São estágios que não estão incluídos como base tecnológica nos cursos e possibilitam ao aluno a vivência do ambiente profissional, oportunizando a relação entre teoria e prática, fornecendo assim condições para a ampliação do conhecimento profissional.</h6>

              <h1 class="mb-4" style="color:#0a5154; text-align: left; font-weight: 200;">Estágio Curricular Obrigatório</h1>
              <p class="mb-4" style="text-align: left;">O estágio será realizado e supervisionado em empresas e/ou outras organizações que envolvam seu curso, oportunizando ao aluno condições de aprendizagem e de aplicação, em ambientes reais de trabalho, das competências técnicas e comportamentais construídas no ambiente escolar durante os três semestres letivos, como forma de contribuir significativamente para formação do perfil profissional de conclusão do curso. </br>

                Destina-se aos alunos dos cursos técnicos subsequentes do eixo de controle e processos industriais ELETROTÉCNICA, ELETROMECÂNICA, ELETRÔNICA, MECÂNICA, FABRICAÇÃO MECÂNICA, ELETROELETRÔNICA e do eixo SEGURANÇA DO TRABALHO (mínimo de 400 horas) que deverá ser realizado a partir do último módulo do curso (3º módulo). EMIEP (Ensino Médio Integrado a Educação Profissional – Técnico em Automação Industrial (mínimo de 320 horas) deverá ser realizado a partir do 3º ano do ensino médio. </br>
                
                O aluno trabalhador que efetivamente comprovar a sua atividade profissional direcionada ao curso que frequenta, poderá requerer a dispensa do estágio curricular obrigatório até no limite máximo de 50% na Coordenação de Estágio, na forma da lei fundamentado na Resolução nº 167 de 22 de outubro de 2013 do Conselho Estadual de Educação do Estado de Santa Catarina (Lei Estadual) e na CNE/CEB nº01/04 – (Lei Federal). Modelo de declaração disponível neste site no campo DOCUMENTOS PARA ESTÁGIO. </br></p>
              
              <h1 class="mb-4" style="color:#0a5154; text-align: left; font-weight: 200; ">Procedimentos para Estágio Curricular Obrigatório e Não Obrigatório </h1>
              <p class="mb-4" style="text-align: left;">A jornada do educando (a) /estagiário (a) será no máximo de 6 (seis) horas diárias até o limite de 30 (trinta) horas semanais, para os cursos Técnicos subsequentes. No caso do Ensino Médio e suas modalidades, a jornada será de no máximo 4h diárias, perfazendo 20 horas semanais. </br>

                O Aluno deverá procurar estágio nas empresas. Também temos disponível em nosso site as vagas de emprego e no mural de vagas da escola. Deverá entrar em contato com a mesma marcando entrevista, ou enviando seu currículo por e-mail, conforme solicita na vaga. Poderá também levar a Carta de Apresentação fornecida pela Coordenação de Estágio do CEDUP. Neste caso o aluno deverá solicitar a carta no setor de estágio com antecedência. </br>
                
                Após a confirmação do estágio a empresa deverá preencher o Termo de Compromisso e Plano de Estágio em 3 vias, e após serem assinados e carimbados pela empresa deverão ser encaminhados ao CEDUP para assinatura. O ALUNO SÓ PODERÁ INICIAR AS ATIVIDADES APÓS A ASSINATURA DOS MESMOS. </br>
                
                O(a) aluno(a) deverá ler o termo de compromisso e após serem esclarecidas todas as dúvidas assiná-lo.Qualquer alteração no Termo de Compromisso de estágio deve ser imediatamente comunicado através de documentação para as devidas providências, como por exemplo, prorrogação de estágio, encerramento, efetivação, mudanças de horários, entre outras, conforme os modelos apresentados abaixo. </br>
                
                Deverão ser observadas todas as orientações sobre o estágio, descritas na carta de apresentação e termo de compromisso que forem assinados. O(a) ESTAGIÁRIO(a) obriga-se a acatar e cumprir as normas internas da parte concedente e da unidade escolar, principalmente as relativas ao estágio, quanto ao acompanhamento, controle, avaliação de desempenho e aproveitamento, durante o estágio. </br>
                
                Os alunos admitidos como estagiários (as) não terão qualquer vínculo empregatício com a empresa concedente. </br></p>

              <h1 class="mb-4" style="color:#0a5154; text-align: left; font-weight: 200;">Documentos para Estágio</h1>
              <p class="mb-4" style="text-align: left;"> <a href=" https://docs.google.com/file/d/0B_Nwt4sGiL7XMDZjbDVqQXRGZGM/edit?resourcekey=0-nUH9NVp5zFPF5buf1q3rZw" style="color:#0a5154";>TERMO DE RESCISÃO DO ESTÁGIO PELA EMPRESA </a></br>

              <a href="https://docs.google.com/file/d/0B_Nwt4sGiL7XMjFNcXFDd0kzMlk/edit?resourcekey=0-qI4qpE3kjPxrGcyiRUXYjQ" style="color:#0a5154";>TERMO DE RESCISÃO DO ESTÁGIO PELO ALUNO</a></br>
                
              <a href="https://docs.google.com/file/d/0B_Nwt4sGiL7XX1J6SEx4My1pT0U/edit?resourcekey=0-YE9i0Qhi7OI8PHCYRwki9Q" style="color:#0a5154";>TERMO ADITIVO DE PRORROGAÇÃO DE ESTÁGIO</a></br>
                
              <a href="https://drive.google.com/file/d/1sAa-1RvHrKuJCiL0vG9UN0lur0noKCan/view" style="color:#0a5154";>TERMO ADITIVO PARA DIVERSAS ALTERAÇÕES NO TCE</a></br>
                
              <a href="https://drive.google.com/file/d/1pg8Watngb6s0vK4nj4_CzwuPvzG5vVVS/view" style="color:#0a5154;">TERMO DE COMPROMISSO DE ESTÁGIO E PLANO DE ESTÁGIO</a></br>
                
              <a href="https://drive.google.com/file/d/1IlVfi7ncflXO4rmea-NX7IcP7zu_67Xi/view" style="color:#0a5154;">MODELO DE DECLARAÇÃO DE ATIVIDADE PROFISSIONAL (SOMENTE PARA ESTÁGIO OBRIGATÓRIO).</a></br></p>
              
              <h1 class="mb-4" style="color:#0a5154; text-align: left; font-weight: 200;">Relatório de estágio - somente para Estágio Curricular Obrigatório </h1>
              <p class="mb-4" style="text-align: left;">O aluno deverá apresentar para o seu orientador de estágio, relatório parcial das atividades que vem desenvolvimento durante o estágio para avaliação. O aluno deverá ter no mínimo 2 presenças nas suas orientações com o professor/orientador antes de entregar o relatório final para obtenção da sua aprovação. Após o término do estágio, tem dois meses para entrega do relatório final. </br>

                Na entrega do relatório final para o professor orientador de estágio, deverá ser anexado a Declaração de Estágio e o Relatório de Avaliação do Estagiário preenchidos e assinados pela empresa, juntamente como o documento do registro das orientações do professor orientador de estágio. </br>
                
                O relatório de estágio será avaliado pelo(a) Professor(a) Orientador(a) de Estágio. </br>
                
                O(a) aluno(a) receberá um protocolo de entrega de qualquer documento que deixar na Coordenação de Estágio ou com o professor orientador de estágio. Desta forma, só poderá haver solicitação de documentos diante da apresentação do protocolo. O prazo para correção será de 15 dias úteis. O aluno deverá entrar em contato com a escola para saber do resultado da sua avaliação. </br></p> 
              
              <h1 class="mb-4" style="color:#0a5154; text-align: left; font-weight: 200;">Documentos para Estágio Curricular Obrigatório</h1>
              <p class="mb-4" style="text-align: left;">A apresentação gráfica e a metodologia do relatório deverão estar de acordo com o Modelo de Relatório constantes no link abaixo: </br>

                <a href="https://docs.google.com/document/d/1ugN-hL2jLaZnF-PdtCSPJkMJRbkH-PKmbMTIFcQ_8bE/edit" style="color: #0a5154;">MODELO RELATÓRIO</a></br>
                
                <a href="https://drive.google.com/file/d/0B_Nwt4sGiL7XN21leml5QW02MEFsTjN3R0ZkaFV1T2hnNmNF/view?resourcekey=0-31nvdwfbWbAvx-sKJyKI1A" style="color: #0a5154;" >DECLARAÇÃO DE ESTÁGIO </a></br>
                
                <a href="https://drive.google.com/file/d/0B_Nwt4sGiL7XVWhua1BGUXJQVEdfamhOUUE5UTRfMXpTZWow/view?resourcekey=0-_ttI-h3gxTJlBkMjI791XQ" style="color: #0a5154;">MODELO DE AVALIAÇÃO DO ESTAGIÁRIO</a></br></p>

          </div>
        </div>
      </main>
      <footer>
          <div class="card-body p-3 d-flex justify-content-between mt-4" style="background-color:#0a5154;">
           <div> 
              <p class="card-text fs-5" style="color: #d3d3d3;">R. Monsenhor Gercino, 2071</p>
              <p class="card-text fs-6" style="color: #d3d3d3;">Itaum, Joinville-SC, 89210-160</p>
              <p class="card-tex fs-6" style="color: #d3d3d3;">(47) 3481-2135</p>
            </div>
            <div class="d-flex justify-content-end w-25 align-items-center">
              <a href="https://pt-br.facebook.com/cedupjoinville/" class="btn"><img src="../img/facebook.png" style="width: 40; height: 40px"></a>
              <a href="https://www.instagram.com/cedupjoinvilleoficial/" class="btn"><img src="../img/instagram.png" style="width: 40; height: 40px"></a>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>