<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="../css/style.css" rel="stylesheet">
    <title>CEDUP - Centro de Educação Profissional Dario Geraldo Salles</title>
</head>
<body>
  <header>
    <nav class="navbar p-2" style="background-color: #0a5154;">
      <div class="w-100 p-3 d-flex justify-content-between">
       <div class="d-flex">
        <img class="d-flex align-items-center me-4" src="../img/logo1.png" alt="logo-cedup" style="width: 90; height: 90px">
        <a class="navbar-brand">
          <span class="fs-1 fw-bolder" style="font-weight: 600; color: #d3d3d3;"> CEDUP </span> 
          <br> 
          <span style="color: #d3d3d3;">Centro de Educação Profissional Dario Geraldo Salles</span>
        </a>
       </div>
      <form class="input-group mb-3 w-25 mt-4 h-25">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Recipient's username" aria-describedby="button-addon2" style="background-color: #d3d3d3;">
          <button class="btn btn-outline-secondary " type="button" id="button-addon2"><img src="../img/lupa.png" alt="" width="25px" height="25px"></button>
        </div>
      </form>
      </div>
    </nav>
  </header> 
      <main>
        <div class="bd-content d-flex justify-content-between">
          <div class="btn-aside w-25 p-2 mt-lg-5" style="font-size: 1.1rem;">
              <ul class="nav flex-column">
                <li class="nav-item m-2 w-75" style="border-top: 2px solid ; background-color: #d3d3d3">
                  <a class="nav-link active" id="hover-btn" aria-current="page" href="home.html">Home</a>
                </li>
                <li class="nav-item m-2 w-75" style="border-top: 2px solid #0a5154; background-color: #d3d3d3;">
                  <a class="nav-link" id="hover-btn" href="horario-aula.html">Horário Aulas</a>
                </li>
                <li class="nav-item m-2 w-75" style="border-top: 2px solid #0a5154; background-color: #d3d3d3">
                  <a class="nav-link" id="hover-btn" href="#">Extenções CEDUP</a>
                </li>
                <li class="nav-item m-2 w-75" style="background-color: #d3d3d3; border-top: 2px solid #0a5154;">
                  <a class="nav-link" id="hover-btn" href="comunicados.html">Comunicados</a>
                </li>
                <li class="nav-item m-2 dropdown w-75" style="border-top: 2px solid #0a5154; background-color: #d3d3d3">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="hover-btn" href="#" role="button" aria-expanded="false">Instituição</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Eventos</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">APP</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">PPP</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">CDE</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Professores</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Secretaria</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">CEDUP</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Contato</a></li>
                  </ul>
                  </li>  
                <li class="nav-item m-2 dropdown w-75" style="border-top: 2px solid #0a5154; background-color: #d3d3d3">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="hover-btn" href="#" role="button" aria-expanded="false">Cursos</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Cursos Técnicos</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Novos Caminhos</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">NEM</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">EMIEP</a></li>
                </ul>
                </li>  
                <li class="nav-item m-2 dropdown w-75" style="background-color: #d3d3d3; border-top: 2px solid #0a5154;">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="hover-btn" href="#" role="button" aria-expanded="false">Alunos</a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Estágio</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Biblioteca</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Enem</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Vagas de Emprego</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Cardápio Escolar</a></li>
                  </ul>
                </li>        
            </ul>
          </div>
            <div class="content mt-5 w-75">
              <h1 class="mb-3" style="text-align: left; color:#0a5154; font-weight: 200;">Secretaria</h1>

              <h3 class="mb-3" style="text-align: left; color:#0a5154; font-weight: 200;">Histórico Escolar</h3>
              <p>Todos os documentos devem ser solicitados através do e-mail: <a style="color: #0a5154;" href="mailto:secretaria@cedup.com.br">secretaria@cedup.com.br</a></p>
                    <p>Os históricos anteriores a 1994 solicitar com 30 dias de antecedência e os de 1994 a 2013 com 2 dias de antecedência da data que ira utilizar (obs: devido divergências no sistemas).</p>

              <h3 class="mb-3" style="text-align: left; color:#0a5154; font-weight: 200;">Diploma</h3>
              <p">O diploma deve ser solicitado pelo aluno na secretaria da escola após a conclusão do seu curso (nos casos dos cursos com estagio solicitar somente após o parecer de aprovação do setor de estagio) prazo de entrega do diploma é de 60 a 90 dias.</p>

              <h3 class="mb-3" style="text-align: left; color:#0a5154; font-weight: 200;">Transferência de Horário</h3>
              <p>É realizada na hora desde que haja a vaga e por ordem de data solicitada e declaração de trabalho. Para os 1º módulos após 15 dias de aulas e com declaração (principalmente no inicio de semestre). Não há mais transferências de um curso para o outro devido a alterações na grade curricular.</p>

              <h3 class="mb-3" style="text-align: left; color:#0a5154; font-weight: 200;">Rematrícula</h3>
              <p>A rematricula para o semestre posterior é realizada geralmente um mês antes do fim do semestre. No período de rematrícula o aluno que tiver com documentação pendente não poderá realizá-la enquanto não regularizar a situação (NÃO DEIXA PRA ULTIMA HORA! Procure a secretaria para verificar se você está pendente com algum documento).</p>

              <h3 class="mb-3" style="text-align: left; color:#0a5154; font-weight: 200;">Lista de Espera</h3>
              <p>Os alunos que querem retornar aos cursos em andamento devem entrar em contato por telefone ou na secretaria da instituição para deixar seu nome para contato posterior conforme vagas disponíveis.</p>

              <h3 class="mb-3" style="text-align: left; color:#0a5154; font-weight: 200;">Atestado de Frequência</h3>
              <p>A impressão é feita na hora, mas sempre que precisar solicitar com antecedência para não ter imprevistos.</p>

              <h3 class="mb-3" style="text-align: left; color:#0a5154; font-weight: 200;">Dispensa de Disciplinas</h3>
              <p >O formulário para dispensa de disciplina fica disponível no início de cada semestre com data publicada no Edital.</p>

              
             
  
            
            </div>
          </div>
        </div>
      </main>
      <footer>
          <div class="card-body p-3 d-flex justify-content-between mt-4" style="background-color:#0a5154;">
           <div> 
              <p class="card-text fs-5" style="color: #d3d3d3;">R. Monsenhor Gercino, 2071</p>
              <p class="card-text fs-6" style="color: #d3d3d3;">Itaum, Joinville-SC, 89210-160</p>
              <p class="card-tex fs-6" style="color: #d3d3d3;">(47) 3481-2135</p>
            </div>
            <div class="d-flex justify-content-end w-25 align-items-center">
              <a href="https://pt-br.facebook.com/cedupjoinville/" class="btn"><img src="../img/facebook.png" style="width: 40; height: 40px"></a>
              <a href="https://www.instagram.com/cedupjoinvilleoficial/" class="btn"><img src="../img/instagram.png" style="width: 40; height: 40px"></a>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>