<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="../css/style.css" rel="stylesheet">
    <title>CEDUP - Centro de Educação Profissional Dario Geraldo Salles</title>
</head>
<body>
  <header>
    <nav class="navbar p-2" style="background-color: #0a5154;">
      <div class="w-100 p-3 d-flex justify-content-between">
       <div class="d-flex">
        <img class="d-flex align-items-center me-4" src="../img/logo1.png" alt="logo-cedup" style="width: 90; height: 90px">
        <a class="navbar-brand">
          <span class="fs-1 fw-bolder" style="font-weight: 600; color: #d3d3d3;"> CEDUP </span> 
          <br> 
          <span style="color: #d3d3d3;">Centro de Educação Profissional Dario Geraldo Salles</span>
        </a>
       </div>
      <form class="input-group mb-3 w-25 mt-4 h-25">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Recipient's username" aria-describedby="button-addon2" style="background-color: #d3d3d3;">
          <button class="btn btn-outline-secondary " type="button" id="button-addon2"><img src="../img/lupa.png" alt="" width="25px" height="25px"></button>
        </div>
      </form>
      </div>
    </nav>
  </header> 
      <main>
        <div class="bd-content d-flex justify-content-between">
          <div class="btn-aside w-25 p-2 mt-lg-5" style="font-size: 1.1rem;">
              <ul class="nav flex-column">
                <li class="nav-item m-2 w-75" style="border-top: 2px solid ; background-color: #d3d3d3">
                  <a class="nav-link active" id="hover-btn" aria-current="page" href="home.html">Home</a>
                </li>
                <li class="nav-item m-2 w-75" style="border-top: 2px solid #0a5154; background-color: #d3d3d3;">
                  <a class="nav-link" id="hover-btn" href="horario-aula.html">Horário Aulas</a>
                </li>
                <li class="nav-item m-2 w-75" style="border-top: 2px solid #0a5154; background-color: #d3d3d3">
                  <a class="nav-link" id="hover-btn" href="#">Extenções CEDUP</a>
                </li>
                <li class="nav-item m-2 w-75" style="background-color: #d3d3d3; border-top: 2px solid #0a5154;">
                  <a class="nav-link" id="hover-btn" href="comunicados.html">Comunicados</a>
                </li>
                <li class="nav-item m-2 dropdown w-75" style="border-top: 2px solid #0a5154; background-color: #d3d3d3">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="hover-btn" href="#" role="button" aria-expanded="false">Instituição</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Eventos</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">APP</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">PPP</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">CDE</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Professores</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Secretaria</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">CEDUP</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Contato</a></li>
                  </ul>
                  </li>  
                <li class="nav-item m-2 dropdown w-75" style="border-top: 2px solid #0a5154; background-color: #d3d3d3">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="hover-btn" href="#" role="button" aria-expanded="false">Cursos</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Cursos Técnicos</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Novos Caminhos</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">NEM</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">EMIEP</a></li>
                </ul>
                </li>  
                <li class="nav-item m-2 dropdown w-75" style="background-color: #d3d3d3; border-top: 2px solid #0a5154;">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="hover-btn" href="#" role="button" aria-expanded="false">Alunos</a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Estágio</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Biblioteca</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Enem</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Vagas de Emprego</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Cardápio Escolar</a></li>
                  </ul>
                </li>        
            </ul>
          </div>
          <div class="slider mt-5 w-75 me-5 ms-1">
            
            <h1 class="mb-5" style="text-align: left; color: #0a5154; font-weight:200;">Técnico em Segurança do Trabalho </h1> 
            <h3 style="color:#0a5154 ; font-weight:200;"> PLANO DE CURSO</h3>
            <h3 style="color:#0a5154 ; font-weight:200;"> Identificação do Curso</h3>
            <p> Joinville, a maior cidade de Santa Catarina e a terceira maior do Brasil, é detentora de uma economia diversificada, sobretudo nos setores secundário e terciário da economia. Se junta a este reconhecido cenário, a vinda de novas plantas industriais, incluindo a indústria automotiva, a sua cadeia de fornecimento e a crescente demanda da indústria da construção.
              Para a Manchester Catarinense continuar se desenvolvendo e mantendo a saúde e a segurança da sua gente, ela precisará ainda mais de novos Técnicos em Segurança no Trabalho. Este é o profissional que tem em sua formação a capacidade de desempenhar atividades no setor industrial e em serviços diversos, com tecnologia emergente em sistemas de segurança de trabalho, é o profissional que deverá ser capacitado para solucionar problemas na área de segurança e medicina no trabalho.
              Segundo estatística da CUT, no Brasil acontece uma morte a cada 3,5 horas. Em Santa Catarina a quantidade de acidentes do trabalho, por situação do registro e motivo, segundo a Classificação Nacional de Atividades Econômicas (CNAE), no estado de Santa Catarina – 2008/2010, segue a tabela abaixo:
              Portanto, o CEDUP – Dario Geraldo Salles, fundamentado nas bases legais e nos princípios norteadores da Educação Brasileira explicitados na Lei de Diretrizes e Bases (LDB) no 9394/96 da Educação Nacional e Resolução CEE/SC NO167/2013 de 22/10/2013, Resolução CEE/SC NO 183/2013 e outras referências curriculares que normatizam a Educação Profissional no Sistema Educacional Brasileiro, busca a implantação do Curso Técnico em Segurança do Trabalho para que possa suprir a falta deste profissional no mercado de trabalho.</p>
            <h3 style="color:#0a5154 ; font-weight:200;"> Justificativa e Objetivos</h3>
            <p> - Formar profissionais Técnicos em Segurança do Trabalho capacitando-os para prevenir, analisar situações, e tomar decisões sobre questões relativas à saúde e segurança dos trabalhadores;
              - Contribuir para a prevenção e redução dos índices de acidentes de trabalho a partir da formação de profissionais qualificados;
              - Interpretar e aplicar a legislação e as normas técnicas referentes à saúde e à manutenção da integridade física dos trabalhadores, à qualidade e ao meio ambiente;
              - Desenvolver no aluno conhecimentos, habilidades e atitudes éticas, em relação à sua atuação como indivíduo, cidadão e profissional, de acordo com as leis e normas técnicas, no desempenho de suas atividades;
              Mobilizar os alunos na ação profissional de transformação de atitudes para um projeto e qualidade de vida.</p>
            <h3 style="color:#0a5154 ; font-weight:200;"> Objetivos Específicos </h3>
            <p> - Atuar em ações prevencionistas nos processos produtivos com auxílio de métodos e técnicas de identificação, avaliação e medidas de controle de riscos ambientais, de acordo com as normas regulamentadoras e princípios de higiene e saúde do trabalho;
              - Desenvolver ações educativas na área de saúde e segurança do trabalho;
              - Orientar o uso de Equipamentos de Proteção Individuais e Coletivos;
              - Elaborar e implementar programas diversos de saúde e segurança do trabalho;
              - Investigar, analisar acidentes e incidentes de trabalho recomendando medidas de prevenção e controle.</p>
            <h3 style="color:#0a5154 ; font-weight:200;">Mercado de Trabalho</h3>
            <p>O Técnico em Segurança do Trabalho é obrigado por lei, atuar em todas as empresas tanto no setor industrial como em serviços diversos públicos ou privados com mais de 50 empregados.
              É obrigatoriedade do empresário junto ao Ministério do Trabalho e das Comissões de Empregados e Empregadores a criação do Serviço Especializado em Engenharia de Segurança e Medicina do Trabalho – SESMET.</p>
            <h3 style="color:#0a5154 ; font-weight:200;">Requisitos de Acesso</h3>
            <p>Ser egresso do Ensino Médio e ou estar cursando a 3a série do Ensino Médio;</p>
            <h3 style="color:#0a5154 ; font-weight:200;">Perfil Profissional de Conclusão</h3>
            <p>O Técnico em Segurança do Trabalho, ao término do curso, estará capacitado para elaborar, participar da elaboração e implementar Políticas de Saúde e Segurança no Trabalho (SST); realizar auditoria, acompanhamento e avaliação na área; identificar variáveis de controle de doenças, acidentes, qualidade de vida e meio ambiente. Desenvolver ações educativas na área de saúde e segurança no trabalho; participar de perícias e fiscalizações e integrar processos de negociação. Participar de adoção de tecnologias e processos de trabalho; gerenciar documentação de SST; investigar, analisar acidentes e recomendar medidas de prevenção e controle.</p>
            <h3 style="color:#0a5154 ; font-weight:200;">Organização Curricular</h3>
            <p>O Curso Técnico em Segurança do Trabalho, Eixo Tecnológico de Segurança observa as determinações legais presentes nas Diretrizes Curriculares Nacionais para a Educação Profissional de Nível Técnico, nos referenciais curriculares nacionais da Educação Profissional, no Decreto NO 5154/2004, no Catálogo Nacional de Cursos Técnicos, bem como nas diretrizes definidas no Projeto Político Pedagógico.</p>
            <h3 style="color:#0a5154 ; font-weight:200;">Componentes Curriculares</h3>
            <p>Os componentes curriculares são apresentados em módulos, atendendo ao disposto na Lei de Direitos e Bases da Educação Nacional – Lei Federal no 9.394/96, de 20/12/96, no Parecer CNE-CEB no 16/99, de 05/10/99, na Resolução CNE-CEB no 04/99 de 08/12/99 e na Resolução CEE no 90/99, Resolução CNE/CEB no 3/2008, que institui o Catálogo Nacional dos cursos Técnicos de Nível Médio e Resolução CNE/CEB no 01 de junho de 2012, que trata da atualização do Catálogo Nacional dos Cursos Técnicos, Parecer CNE/CEB no 7/2010 que institui as Diretrizes Curriculares Nacionais para a Educação Básica, Resolução CNE/CEB no 4/2010, define Diretrizes Curriculares Nacionais Gerais para a Educação Básica, Decreto no 5.154/2004, Lei Complementar no 170/98, que dispõe sobre o Sistema Estadual de Educação, Resolução CEE/SC no 167 de 22/10/2013, que define normas complementares e operacionais para a Educação Profissional Técnica de Nível Médio.
              As competências, habilidades e bases tecnológicas estão descritas a seguir, compondo a Matriz Curricular, visando tornar claro o itinerário que os alunos deverão seguir até a conclusão do curso.</p>
              <h3 style="color:#0a5154 ; font-weight:200;">Matriz Curricular do Curso Técnico em Segurança do Trabalho</h3>
            <iframe style="width: 900px; font-weight:200; height: 400px;" jsname="L5Fo6c" jscontroller="usmiIb" jsaction="rcuQ6b:WYd;" class="YMEQtf DnR2hf L6cTce-purZT L6cTce-pSzOP KfXz0b" sandbox="allow-scripts allow-popups allow-forms allow-same-origin allow-popups-to-escape-sandbox allow-downloads allow-modals" frameborder="0" aria-label="Spreadsheet, Automação Industrial" style="height: 844px" allowfullscreen="" src="https://docs.google.com/spreadsheets/d/1Aaz9L6pBRqIzypwCuMDRNUNq-8OK_Vr9lKLzlAuP3dQ/htmlembed"></iframe>

        </div>
      </main>
      <footer>
          <div class="card-body p-3 d-flex justify-content-between mt-4" style="background-color:#0a5154;">
           <div> 
              <p class="card-text fs-5" style="color: #d3d3d3;">R. Monsenhor Gercino, 2071</p>
              <p class="card-text fs-6" style="color: #d3d3d3;">Itaum, Joinville-SC, 89210-160</p>
              <p class="card-tex fs-6" style="color: #d3d3d3;">(47) 3481-2135</p>
            </div>
            <div class="d-flex justify-content-end w-25 align-items-center">
              <a href="https://pt-br.facebook.com/cedupjoinville/" class="btn"><img src="../img/facebook.png" style="width: 40; height: 40px"></a>
              <a href="https://www.instagram.com/cedupjoinvilleoficial/" class="btn"><img src="../img/instagram.png" style="width: 40; height: 40px"></a>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>